.footer-container {
  background-color: #111;
  color: #eee;
  padding:5px 10px;
  font-family: 'Arial', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.footer-left h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-left p {
  font-style: italic;
  color: #ccc;
}

.footer-center h4,
.footer-right h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-center a {
  display: block;
  color: #eee;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-center a:hover {
  color: #00bcd4;
}

.footer-right p {
  margin: 5px 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icons .material-icons {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons .material-icons:hover {
  color: #00bcd4;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  font-size: 1px;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 5px;
}